:root {
  --card-set-gap: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== HEADER ==========*/

.header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
}

.logo-studio-black {
  color: black;
}

.logo-studio-white {
  color: white;
}

.nav-menu-list:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.nav-menu .nav-list-link.current {
  color: #2196f3;
}
.nav-list-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  position: relative;

  color: #212121;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -32px;

  background-color: #2196f3;
}

.studio-address-link {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;

  color: #757575;
}

.nav-list-link:hover,
.nav-list-link:focus,
.studio-address-link:hover,
.studio-address-link:focus {
  color: #2196f3;
}

.studio-address-link:hover .address-list-icon,
.studio-address-link:focus .address-list-icon {
  fill: #2196f3;
}

.address-list {
  display: flex;
  font-style: normal;
}

.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list-item {
  display: flex;
  justify-content: space-between;
}

.address-list-icon {
  margin-right: 10px;
  fill: #757575;
}

/* ========== HERO ==========*/

.hero-baner {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero-bg.jpg");
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero .main-button {
  display: block;
  margin: 0 auto;
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
}

/* ========== FEATURES ==========*/

.feauture-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.feauture-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-item-icon {
  display: flex;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 270px;
}

.feature-list-icon {
  height: 70px;
}

.feature-list-item {
  width: 270px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
}

/* ========== ABOUT PIC ==========*/

.gallery-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}

.gallery-list-item {
  position: relative;
}

.gallery-image-label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.gallery-list {
  display: flex;
}

.gallery-list-item:not(:last-child) {
  margin-right: 30px;
}
/* ========== OUR TEAM ==========*/

.studio-team {
  background-color: #f5f4fa;
}

.team-wrapper {
  padding-top: 30px;
}

.team-title {
  font-family: "Roboto", sans-serif;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-member {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.member-post {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
}

.social-list-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social-list-link,
.social-list-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

/* ========== CLIENTS ==========*/

.client-title {
  font-family: "Roboto", sans-serif;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.client-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list-icon {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
}

.client-list-icon,
.client-list-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-link:hover,
.client-list-link:focus {
  background-color: #ffffff;
  border-color: #2196f3;
}

.client-list-link:hover .client-list-icon,
.client-list-link:focus .client-list-icon {
  fill: #2196f3;
}

/* ========== FOOTER ==========*/

.footer {
  background-color: #2f303a;
  display: flex;
}

.footer > .container {
  display: flex;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item {
  text-decoration: none;
}

.footer-address {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-contacts .address {
  margin-top: 20px;
}

.footer-contacts .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-mail,
.footer-tel {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mail-item {
  margin-bottom: 9px;
}

.footer-social {
  padding-top: 72px;
  padding-bottom: 100px;
  padding-left: 70px;
}

.footer-social-list {
  display: flex;
}

.footer-social-list .footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-list-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.footer-social-link,
.footer-list-icon {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.footer-contacts .footer-social {
  display: flex;
  justify-content: ;
}*/

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .footer-list-icon,
.social-list-link:focus .footer-list-icon {
  fill: #ffffff;
}

.social-call {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-item .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

/*========== BACKDROP ==========*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
  transition: all 300ms linear;
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  transition: transform 300ms linear;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
}

.form-input:focus {
  outline: none;
  border-color: #2196f3;
}
.form-input:focus .modal-form-icon {
  fi    ll: #2196f3;
}

.form-field {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.close-button {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button-icon {
  width: 18px;
  height: 18px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ========== PORTFOLIO ==========*/

.button-list {
  display: flex;
  justify-content: center;
}

/*========== FLEX-CONTAINER ==========*/
.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

/*.card-content {
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}*/

.card-set {
  padding: 0;
  margin: 0;
  list-style: none;
  /*outline: 1px solid tomato;*/
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .card-item {
  /*outline: 1px solid yellow;*/
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.button-list {
  margin-top: 94px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;

  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item:not(:last-child) {
  margin-right: 8px;
}

.card-link {
  display: block;
}

.card-item {
  box-sizing: border-box;
}

.card-link,
.card-item {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover,
.card-link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.card-link:hover .overlay,
.card-link:focus .overlay {
  transform: translateY(0%);
}

.card-item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-item-type {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}

/* ========== CONTACTS ========== */

.contact-text {
  background-color: orange;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
}
